*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;   
    height: 100vh;
    /* position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
} 

.box{
    height: 400px;
    width: 400px;
    background-color: rgb(20, 13, 143);
    border-radius: 50%;
    /* font-size: 50px;
    color: white; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    animation: moving;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moving{
    /* from{
        transform: rotate(0deg) translateX(600px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(600px) rotate(-360deg);
    } */

    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }


}

.first{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 0, 0);
    font-size: 10px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100px);
    
}