*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}

.container{
    background-color: antiquewhite;
    height: 800px;
    width: 1000px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    font-size: 40px;
    padding: 15px;
}

.box{
    background-color: blueviolet;
}

.first{
    grid-row: 1/4;
}

.second{
    grid-column: 2/4;
}

.sixth{
    grid-row: 2/4;
    grid-column: 4/5; /*very important to adjust position*/
} 
